{% extends "public/templates/public_template.html" %}
{% import "macros/input_macros.html" as im %}

{% block title %}Setvals{% endblock %}
{% block main %}


<div class="container">
  <div class="row">
    <div class="col">
      <h1>apg input parameter settings</h1>

        <form action="{{ url_for("setvals")}}" method="POST" enctype="multipart/form-data">

          {{ im.input_required(label="Please select your input phrase file (required; type = .txt; max_size = 50MB)", type="file", id="phrase_file", name="phrase_file" ) }}

          {{ im.input(label="Mix Enable", type="checkbox", id="to_mix", name="to_mix") }}

          {{ im.input(label="Please select sound file to mix in (required if mix enabled; type = .wav; max_size = 50MB)", type="file", id="sound_file", name="sound_file") }}

          {{ im.input(label="Attenuation", type="number", id="attenuation", name="attenuation", placeholder="Enter attenuation (dB)", value=10) }}

          <button type="submit">Submit</button>

        </form>

    </div>
  </div>
</div>


{% endblock %}
