{% extends "public/templates/public_template.html" %}

{% block title %}Setvals{% endblock %}
{% block main %}

<div class="container">
  <div class="row">
    <div class="col">

      <form action="/" method="POST" enctype="multipart/form-data">

        <div class="form-group">
          <label>
            <b>Please select your input phrase file (required)</b>
          </label>
          <input type="file" class="form-control" id="phrase_file" name="phrase_file" accept=".txt" required />
        </div>

        <div class="form-group">
          <label class="switch">
            <b>Slow Down Speech</b>
            <input type="checkbox" class="form-control" id="slow" name="slow" />
            <span class="slider round"></span>
          </label>
        </div>

        <div class="form-group">
          <label>
            <b>Please select sound file to mix in (optional; recommended max_size = 20MB)</b>
          </label>
          <input type="file" class="form-control" id="sound_file" name="sound_file" accept=".wav" />
          <span class="slider round"></span>
        </div>

        <div class="form-group">
          <label>
            <b>Attenuation applied to sound file (dB)</b>
          </label>
          <input type="number" class="form-control" id="attenuation" name="attenuation" placeholder="Enter attenuation (dB)" value="10" />
          <span class="slider round"></span>
        </div>

        <button type="submit"><b>Submit</b></button>

      </form>


    </div>
  </div>
</div>


{% endblock %}
